<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Wiki</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <h1 th:text="${article.topic}"></h1>
    <p th:text="${article.content}" class="mde-field" id="wiki-content"></p>
    <p><small th:text="${article.published}"></small></p>
    <a th:href="${'/articles/edit/' + article.topic}" class="btn btn-default">Edit</a>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/simplemde-markdown-editor/1.11.2/dist/simplemde.min.js}"></script>
<script>
    var simplemde = new SimpleMDE({element: document.getElementById("wiki-content")})
</script>
</body>
</html>
